li, ul {
  list-style: none;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  /* font-size: min(max(16px, 4vw), 22px); */
}

/* .container {
  width: 100vw;
  height: auto;
  background-color: black;
}

.column-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1920px;
  min-width: 900px;
  width: 100%;
  background-color: #b9e6ae;
} */


